.navItems{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0 80px;
    text-shadow: 2px 2px 4px #db1d1d;

}

.navItem {
    color: ghostwhite;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

img {
   width: 12%;
}
.cart-widget {
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0 80px;
    text-shadow: 2px 2px 4px #211d1d;

}